* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    }
    img {
    max-width: 100%;
    }

    .bg1-sec{
        background-color: #009688;
        width: 100%;
        height: 150px;
    }

    .bg2-sec{
        background-color: #DADBD3;
        width: 100%;
        height: calc(100vh - 150px);
    }