* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    }
    img {
    max-width: 100%;
    width: 50px;
    border-radius: 999px ;
    }

    li{
        list-style: none;
    }

    i{
        color: #B1B1B1;
        font-size: 19px;
    }

     /* BAC GROUND BEHIND */

    .bg1-sec{
        background-color: #009688;
        width: 100%;
        height: 150px;
    }

    .bg2-sec{
        background-color: #DADBD3;
        width: 100%;
        height: calc(100vh - 150px);
        position: relative;
        top: 150px;

    }
    
    .bg-left-content{
        width: 500px;
        height: 100%;
        /* border: blue solid 1px; */
        
    }

    .bg-right-content{
        width: 700px;
        height: 100%;
        /* border: blue solid 1px; */
        
    }

    .container-content{
        /* border: red solid 1px; */
        width: 100%;
        height: 650px;
        position: absolute;
        top: -120px;
        padding: 0 100px;
        display: flex;
        justify-content: center;

    }

    .bg-grey{
        background-color: #D9DBD4;
    }

    .border-right{
        border-right: darkgrey solid 1px;
    }

    .m-0-auto{
        margin: 0 auto;
    }

    .f-size-small{
        font-size: 10px;
    }

    .bell{
        background-color: white;
        border-radius: 999px;
        color: #8EDAFC;
        font-size: 20px;
        padding: 12px 10px;
        
    }

    .bg-bell{
        background-color: #8EDAFC;
    }

    .chat-left{
        overflow: auto;
        height: 468px;
        background-color: white;
        
    }

    .status-online{
        padding-left: 255px;
    }

    .bg-chat{
        background-image: url('./img/06_comp_1_4x.jpeg') ;
        height: 526px;
        overflow: auto;
        background-repeat: repeat;
        width: 100%;
        word-wrap: break-word;
    }

    .container-message-bar{
        background-color: #E4DCD4;
    }

    .bg-hover:hover{
       background-color: #D9DBD4;
    }

    .active{
        background-color: #D9DBD4;
 
    }

    .time{
        font-size: 10px;
    }

    .message{
        max-width: 47%;
        border-radius: 15px;
        font-size: 17px;
        padding: 13px;
    }

    .message.sent{
        background-color: #D5F9BA;
        margin-top: 10px;
    }

    .message.received{
        background-color: cornsilk;
        margin-top: 10px;
    } 

    .time{
        display: flex;
        justify-content: flex-end   ;
        
    }