* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    }
    img {
    max-width: 100%;
    width: 50px;
    border-radius: 999px ;
    }

    i{
        color: #B1B1B1;
    }

     /* BAC GROUND BEHIND */

    .bg1-sec{
        background-color: #009688;
        width: 100%;
        height: 150px;
    }

    .bg2-sec{
        background-color: #DADBD3;
        width: 100%;
        height: calc(100vh - 150px);
        position: relative;
        top: 150px;

    }
    
    .bg-left-content{
        width: 500px;
        height: 100%;
        border: blue solid 1px;
        
    }

    .bg-right-content{
        width: 700px;
        height: 100%;
        border: blue solid 1px;
        
    }

    .container-content{
        border: red solid 1px;
        width: 100%;
        height: 650px;
        position: absolute;
        top: -120px;
        padding: 0 100px;
        display: flex;
        justify-content: center;

    }

    .bg-grey{
        background-color: #D9DBD4;
    }